body{
    background-color: black;
    text-align: center;
}
h1{
 font-family: verdana;
 font-weight: normal;
 font-size: 50px;
 color: white;
 text-align: center;   
}

a{
    color: aquamarine;
    font-size: 16px;
}

/*h2{
    font-family: verdana;
    /*font-weight: 300px;
    font-size: 32px;
}*/

h3{
    font-family: verdana;
    font-size: 21px;
    color: gray;
}